#he_1{
    height: auto; 
    background-image: url(allie_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    margin-top: 0px;
    background-color: #000000;
    background-blend-mode: lighten;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

}
#he_2{
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding-bottom: 4%;
}
#he_2 h1{
    margin: 10px;
    float: left;
    color: rgba(32, 31, 31, 0.61);
    text-shadow:2px 2px 1px #FFD700;
}
#he_2 .logo{
    float: left;
    height: fit-content;
    width: 60px;
    transition: transform 2.0s ease;
    transform: rotateY(360deg);
}
.alow_1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.479) ;
    padding: 3px;
    display: flex;
    float: left;
}
.alow_1 .al_pro_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.alow{
    justify-content: center;
    margin: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: auto;
    width: 100%;
    background-color: rgba(22, 20, 20, 0.438);
    border-radius: 25px;
    box-shadow: 0 5px 10px #8b00008a;
    padding: 15px;
}

.alow .alow_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alow_txt .name{
    padding: 6px;
    color: rgba(32, 31, 31, 0.61);
    text-shadow:2px 2px 1px #FFD700;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.alow_txt .title{
    color: rgba(245, 245, 245, 0.329);
    font-weight: 600;
    padding: auto;
}

.gary_1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.479) ;
    padding: 3px;
    display: flex;
    float: left;
}
.gary_1 .gar_pro_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.gary{
    justify-content: center;
    margin: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: auto;
    width: 100%;
    background-color: rgba(22, 20, 20, 0.438);
    border-radius: 25px;
    box-shadow: 0 5px 10px #8b00008a;
    padding: 15px;
}

.gary .gary_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gary_txt .name{
    padding: 6px;
    color: rgba(32, 31, 31, 0.61);
    text-shadow:2px 2px 1px #FFD700;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.gary_txt .title{
    color: rgba(245, 245, 245, 0.329);
    font-weight: 600;
    padding: auto;
}
.alow .alow_icons{
    align-items: center;
    display: flex;
    padding: 10%;
}
.alow_icons a{
    margin: auto 10px;
}

.gary .gary_icons{
    align-items: center;
    display: flex;
    padding: 10%;
}
.gary_icons a{
    margin: auto 10px;
}
.alow_icons a:hover{
    background-color: #eeede59c;
}
.gary_icons a:hover{
    background-color: #eeede59c;
}

#a_fo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#infoo{
    display: none;
}
#Al_in{
    background-color:transparent;
    border: none;
}
.a_butt{
    background-color:transparent;
    border: none;
    width: auto;
    height: auto;
}
#Al_in:hover{
    background-color: #eeede59c ;
}
.a_butt:hover{
    background-color: #eeede59c ;
}
#gar_in{
    background-color:transparent;
    border: none;
    width: auto;
    height: auto;
}
#infoo_2{
    display: none;
}
#g_fo{
    justify-content: center;
    align-items: center;
    display: flex;
}
.g_butt{
    background-color: transparent;
    border: none;
}
.g_butt:hover{
    background-color:#eeede59c;
}
#gar_in:hover{
    background-color:#eeede59c;
}
#he_3{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
}