#he_1{
    height: auto; 
    background-image: url(allie_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    margin-top: 0px;
    background-color: #000000;
    background-blend-mode: lighten;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

}
#he_2{
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding-bottom: 4%;
}
#he_2 h1{
    margin: 10px;
    float: left;
    color: rgba(32, 31, 31, 0.61);
    text-shadow:2px 2px 1px #FFD700;
}
#he_2 .logo{
    float: left;
    height: fit-content;
    width: 60px;
    transition: transform 2.0s ease;
    transform: rotateY(360deg);
}
#so_1:hover{
    background-color: rgba(255, 255, 255, 0.5);

}